*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
        }
.main{
    width: auto;
    background-color: white;
    display: flex;
}
.logo{
    margin-top: 30PX;
    margin-left: 20px;
    display: inline-block;
}
.icon{
    display: flex;
    margin: 10px;
}
.icon li {
    margin: 10px;
    padding: 10px;
}
li{
   display: inline-block; 
  
}
.main1 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
    margin: 30px;
}
@media only screen and (max-width: 768px){
        .main1 li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        margin: 20px;
    }
    .main1 li a:hover{
        color:  slateblue;
        text-shadow: slateblue;
    }
    .main1{
        height: 50px !important;
        width: auto;
        text-align: center;
        background-color: rgb(19, 19, 69);
        color: white;      
    }
    }
.main1 li a:hover{
    color:  slateblue;
    text-shadow: slateblue;
}
.button:hover{
    color:  rgb(243, 209, 243);
}
.main1{
    height: 90px;
    width: auto;
    text-align: center;
    background-color: rgb(19, 19, 69);
    color: white;   
}
.main3{
    padding: 10px;
}
.main4{
    display: flex;
    background-color:rgb(19, 19, 69);
    padding: 10px;
    text-decoration: none;
    gap: 40px;
}
.main4  a{
    text-decoration: none;
    padding: 8px;
    color: white;
    display: flex;
    
}
.heading{
    padding: 6px;
    color: rgb(255, 255, 255);
}
.image{
    height: 100px;
    width: 250px;
}
.main a{
    text-decoration: none;
    color: black;
    display: flex;    
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    
}
.main5{
    height: 55px; 
    background-color: rgb(24, 24, 52);
    color: white;
    padding: 2px;
    text-align: center;
}
.main5 p{
    margin-top: 1%;
}
.arrow{
    position:absolute;
    z-index: 13;
    border-radius: 50%;
    font-size: 40px;
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 15px;
}
.arrow1{
    display: flex;
    justify-content: right;
    margin-left: 10px;
}
.courseimg{
    height:18em;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: left;
    background-image: url("https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?size=626&ext=jpg");
}
.course{
    color: #ffffff;
    margin: 40px;
    z-index: 2;
    font-size: 60px;
    position: absolute;
    padding: 45px;
    text-shadow: 3px 6px 7px  rgb(16, 15, 15);
}
.namediv{
    width: 100%;
}
.name{
    height: 90px;
    width: auto;
    text-align: center;
    padding: 40px;
    overflow: hidden;
    color: black;   
    margin-bottom: 20px;   
}
.name a:hover{
    background-color: rgb(9, 9, 80);
    color: white;
}
.name li a{
    text-decoration: none;
    color:black;
    border: 2px solid rgb(97, 94, 94);
    padding: 12px;
    font-size: 20px;
}
.all a{
    background-color: rgb(9, 9, 80);
    color: white !important;
}
.footerdiv{
    width: 330px;
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
@media only screen and (max-width: 768px){
    #preloader{
        background-color:rgb(19, 19, 69);
        margin: 0% !important;
        height: 100%;
        background-size: cover !important;
        background-size: 8% !important;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://i.gifer.com/ZKZg.gif");
        position: fixed;
        z-index: 100;
}
}
#preloader{
    background-color:rgb(19, 19, 69);
    height: 100%;
    background-size: 5%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://i.gifer.com/ZKZg.gif");
    position: fixed;
    z-index: 100;
}
@media only screen and (max-width: 768px){
        .namediv{
        width: 100%;
    }
    .name{
        height: 45px;
        width: auto;
        text-align: center;
        padding: 20px !important;
        overflow: hidden;
        color: black;   
        margin-bottom: 10px;   
    }
    .name a:hover{
        background-color: rgb(9, 9, 80);
        color: white;
    }
    .name li a{
        text-decoration: none;
        color:black;
        border: 2px solid rgb(97, 94, 94);
        padding: 6px !important;
        margin-bottom: 4px;
        font-size: 10px;
    }
    .all a{
        background-color: rgb(9, 9, 80);
        color: white !important;
    }
}
.headin{
     text-align: center;
     font-size: 3.5em;
     font-weight: 300;
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid black;
    margin-bottom: 20px;
}
.trtitle{
    background-color: black;
    color: white;
}

.table,tr,td{
    border: 1px solid black;
    border-collapse: collapse; 
}
.trtitle,tr,td{
    padding: 10px;  
}
.tablediv{
    display: grid;
    justify-items: center;
}
@media only screen and (max-width: 768px){
 .headin{
     text-align: center;
     font-size: 1.5em;
     font-weight: 300;
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid black;
    margin-bottom: 10px;
}
.trtitle{
    background-color: black;
    color: white;
}

.table,tr,td{
    border: 1px solid black;
    border-collapse: collapse; 
}
.trtitle,tr,td{
    padding: 5px;  
}
.tablediv{
    display: grid;
    justify-items: center;
}
#trr{
    width: 40px !important;
}
#trr1{
    width: 180px !important;
}
#elig{
    width: 50px !important;
}
}
#trr{
    width: 90px;
}
#trr1{
    width: 550px;
}
#elig{
    width: 150px;
}
@media only screen and (max-width: 768px){
    .main5{
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px){
    .main{
        background-color: white;
        display: inline;
    }
    .logo{
        margin-top: 0%;
        font-size: 5px;
    }
    .icon{
        margin: 0.2px !important;
    }
    .icon li {
        font-size: 10px;
    }
}
 @media only screen and (max-width: 768px){
        .courseimg{
            height:8.5em !important;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            text-align: left;
            background-image: url("https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?size=626&ext=jpg");
    }
        .course{
            color: #ffffff;
            margin: 20px;
            z-index: 2;
            font-size: 30px !important;
            position: absolute;
            padding: 15px !important;
            text-shadow: 3px 6px 7px  rgb(16, 15, 15);
        }
}
@media only screen and (max-width: 768px){
        .main4{
            background-color:rgb(19, 19, 69);
            padding: 8px;
            text-decoration: none;
        }
        .image{
            height: 90px !important;
            width: 210px !important;
        }
        h2{
            font-size: 17px;
            
        }
        .heading{
             color: rgb(255, 255, 255);
        }
    }
    @media only screen and (max-width: 768px){
    .main4{
        display: block;
        background-color: rgb(5, 5, 83);
        padding: 10px;
        text-decoration: none;
    }
}